<ul class="nav navbar-nav side-nav">
    <li>
        <a href="blank-page.html">
        	<div class="w-clearfix verticalnavbarbutton" data-ix="mostrar-menu-de-iniciar">
				<div class="servicebuttonlabel"><i class="fa fa-plus"></i> Iniciar</div>
			</div>
		</a>	  
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-arrows-v"></i> TRABAJO <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo3" class="collapse">
            <li>
                <a href="#">Vencido</a>
            </li>
            <li>
                <a href="#">En Riesgo</a>
            </li>            
        </ul>
    </li>    
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> CARTELERA <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
                <a href="#">Administracion de ambiente</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-arrows-v"></i> Alarmas<i class="fa fa-fw fa-caret-down"></i></a>
		        <ul id="demo2" class="collapse">
		            <li>
		                <a href="#">Alarma1</a>
		            </li>
		        </ul>                
            </li>
        </ul>
    </li>
</ul>