


<div id="outer-wrap">
  	
	<!-- Navigation -->
	<nav class="mainNav">
		
		<div class="w-clearfix verticalnavbarbutton" data-ix="mostrar-menu-de-iniciar">
			<div class="servicebuttonlabel">Iniciar  <i class="fa fa-plus"></i></div>
		</div>
	
	    <ul>
	    	<li ng-repeat="service in mainCtrl.services" class="selected"><a href="#">{{service.title}}</a>
		    	<ul>
					<li ng-repeat="subservice in service.subservices"><a href="#">{{subservice.name}}</a>
						<ul>
							<li ng-repeat="subsubservice in subservice.subsubservices"><a href="#">{{subsubservice.name}}</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>	
	</nav>

</div>

<script>
		jQuery(document).ready(function(){
		
			//Accordion Nav
			jQuery('.mainNav').navAccordion({
				expandButtonText: '<i class="fa fa-plus"></i>',  //Text inside of buttons can be HTML
				collapseButtonText: '<i class="fa fa-minus"></i>'
			}, 
			function(){
				console.log('Callback')
			});
			
		});
</script>