
	<div class="logo">
		<!-- PUT YOUR LOGO HERE -->
	</div>
	<!-- END LOGO -->
	<div class="content">
		<form class="form-vertical login-form" name="loginForm" action="" method="post">
			<h3 class="form-title">Login</h3>
			<div class="control-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<div class="controls">
					<div class="input-icon left">
						<i class="fa fa-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username"  ng-model="vm.user.name" required/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="input-icon left">
						<i class="fa fa-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" ng-model="vm.user.pass" required/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div>
						<select class="m-wrap placeholder-no-fix"  ng-model="vm.selectedOption"  ng-options="environment.name for environment in vm.environments track by environment.name" >
						 	<option value=''>Seleccione el ambiente</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="button" ng-click="vm.login()" ng-disabled="loginForm.$invalid" class="btn blue center-block">
					Acceder <i class="fa fa-sign-in"></i>
				</button>            
			</div>
		</form>     
	</div>
	