			<div class="ambientewrapper center-block" ng-show="!vm.isLogged">
				
          			<form>
					
					<table style="width:92%;text-align:center;margin:4%">
						<tr>
							<td style="text-align:left;">
								<h1 class="loginambiente">{{vm.title}}</h1> <img width="40px" src="app/images/unidad.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="app/images/linea.png" width="100%">
							</td>
						</tr>
						<tr>
							<td>
								<table style="width:100%;text-align:left;margin-bottom: 5px;margin-top: 5px">
									<tr>
										<td style="width:20%;">
											Usuario:
										</td>
										<td>
											<input style="width:100%;" type="text" ng-model="vm.user.name" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table style="width:100%;text-align:left;;margin-bottom: 50px">
									<tr>
										<td style="width:20%;">
											Contraseña:
										</td>
										<td>
											<input style="width:100%;" type="password" ng-model="vm.user.pass" />
										</td>
									</tr>
								</table>
								 
							</td>
						</tr>
						<tr>
							<td>
		                        <button type="button"
		                        		ng-click="vm.login()"
		                                ng-disabled="userForm.$invalid"
		                                class="btn btn-sm btn-primary">
		                            <i class="ace-icon fa fa-check"></i>Login
		                        </button>
		                        
		                        <button type="button"
		                        		ng-click="vm.logout()"
		                                ng-disabled="userForm.$invalid"
		                                class="btn btn-sm btn-primary">
		                            <i class="ace-icon fa fa-check"></i>Logout
		                        </button>
							</td>
						</tr>
					</table>
				</form>
				
            </div>
            
		    <div ng-show="vm.isLogged">
		        <a ng-click="vm.loginRenew()"><label>Renew</label></a>
		        <a ng-click="vm.loginRecover()"><label>Recover</label></a>
		        <a ng-click="vm.loginBack()"><label>Back</label></a>
		    </div>
