          <div class="form-login center-block" ng-show="!isLoginUser">
          			<form role="form" name="userForm" class="form-horizontal" ng-submit="doLogin(user)" novalidate>
					<h4>SQL SERVER</h4>
					<form-element label="Usuario" mod="username" ng-class="{ 'has-error': userForm.username.$invalid && userForm.username.$dirty }">
		                <input type="text" name="username" ng-model="user.username" class="form-control" placeholder="Introduzca su nombre de usuario" required/>
		                <small class="errorMessage" ng-show="userForm.username.$dirty && userForm.username.$invalid">Usuario incorrecto</small>
		            </form-element>
		            <form-element label="Contraseña" mod="password" ng-class="{ 'has-error': userForm.password.$invalid && userForm.password.$dirty }">
		                <input type="password" name="password"  ng-model="user.password" class="form-control" placeholder="Introduzca su contraseña"  required/>
		                <small class="errorMessage" ng-show="userForm.password.$dirty && userForm.password.$invalid">Contraseña incorrecta</small>
		            </form-element>
		            <form-element label="">
	                    <div class="text-right">
	                        <button type="submit"
	                                ng-disabled="userForm.$invalid"
	                                class="btn btn-sm btn-primary">
	                            <i class="ace-icon fa fa-check"></i>Iniciar Sesión
	                        </button>
	                    </div>
		            </form-element>
				</form>
            </div>
