
.modal.fade {
 top: 1% !important;
   opacity: 1 !important;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop {
   opacity: 0.8 !important;
}
.modal-dialog{
    height: 300px !important;
    width: :500px !important;
}